{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    <header class="bg-dark">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-5">
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="margin-bottom: 24px;">Date</button>
                            <div class="dropdown-menu">
                                <form method="post" action="date_picked">
                                    {% csrf_token %}
                                    <input name="date" class="form-control mb-3" type="date">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </form>

                            </div>
                        </div><small class="form-text">To change course please visit profile&nbsp;</small>
                        <h1 class="fw-bold" style="padding-top: 23px;"> {{ current_date }} <div id="date-container"></div>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section></section>
    <section>
        <div class="container py-5">
            <div class="mx-auto" style="max-width: 900px;">
                <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
                    <div class="col mb-4">
                        <div class="card bg-primary-light">
                            <div class="card-body text-center px-4 py-5 px-md-5">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="bg-dark text-white">Time</th>
                                                <th class="bg-dark text-white">Module</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for module in modules %}
                                            <tr>
                                                <td class="bg-dark text-white">{{ module.start|slice:"11:" }}</td>
                                                <td class="bg-dark text-white">{{ module.modules }}</td>
                                            </tr>
                                            {% endfor %}
                                            <tr></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}